################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.ipch
*.obj
*.tlog
*.pdb
*.log
*.idb
*.ilk
*.db-wal
*.db-shm
*.opendb
*.sqlite
*.db
